body{
    background-image: url('https://s3.amazonaws.com/designco-web-assets/uploads/2017/07/Podcast-large_2x-1450x1112.png');
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 5vw;
}
button{
    border-radius: 25px;
    border: 2px solid white;
    background: transparent;
    padding: 20px;
    width: 5vw;
    height: 5vw;
}
nav {
    display: flex;
}
.logo-name{
    display: flex;
    width: 15%;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    margin-left: 3vw;
}
.nav-links-section{
    display: flex;
    margin: auto;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.nav-links{
    text-decoration: none;
    color: white;
}
.nav-links:visited{
    color: white;
}
.sub{
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}
#sub{
    color: white;
    width: 9vw;
    height: 4vw;
}
#logo{
    margin-left: 39vw;
}
.center-txt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
}
#start{
    margin-top: 35px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15vw;
    height: 5vw;
}
#exploring{
    text-decoration: none;
    color: #7a81e0;
}
#exploring:visited{
    text-decoration: none;
    color: #7a81e0;
}
#scroll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.sideways{
    display: flex;
    transform: rotate(-90deg);
    flex-wrap: nowrap;
    align-items: center;
}
.social{
    display: flex;
    flex-flow: column;
}